.navbar-brand img{

    width: 5vh;
}




     /* 
    font-family: 'Lato', sans-serif; textos largos
    font-family: 'Montserrat', sans-serif; encabezados y titulos
    font-family: 'Open Sans', sans-serif; botones y navbar
    font-family: 'Playfair Display', serif; titulos importantes/ruta
    */
    
    /*
    Azul oscuro (#003366) elementos destacados
    Azul medianoche (#1A237E) areas imnportantes
    Azul cobalto (#0A3D91) 
    Azul claro (#4FC3F7)
    Gris claro (#F5F5F5)
    Blanco (#FFFFFF)
    */
    