.titulos {
font-size: 2rem;
text-align: center;
}
.navbar-brand img{
    padding: 20px;
    width: 25vh
}

.nav-link{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}
.active
{
    font-weight: 600;
}

.subtitulo {
font-family: 'Playfair Display', serif;
font-weight: 800;
font-size: large;
display: flex;
align-items: center;
}
.ruta {
text-align: center;
font-size: 1.5rem;
padding-bottom: 30px;
}
.parrafo {
text-align: center;
}

.producto img{
display: flex;
justify-content: center;
padding-left: 15px;
border-radius: 100px;
width: 150px;
height: 150px;

}
#destacados{
text-align: center;
text-size-adjust: 2rem;
padding-top: 40px;
padding-bottom: 60px;
}
.prefooter {
    padding-bottom: 25px;
}
 /* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; 
*/

  
