.titulos {
font-size: 2rem;
text-align: center;
font-family: 'Playfair Display', serif;
}
.navbar-brand img{
    padding: 20px;
    width: 25vh
}
button.btn.btn-outline-success {
    color: #F5F5F5;
    background-color: #003366;
    font-family: 'Open Sans', sans-serif;
}
.form-control .me-2{
color:#F5F5F5 ;


}
.nav-link{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #0B2545;
}
.active
{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.subtitulo {
font-family: 'Playfair Display', serif;
font-weight: 800;
font-size: large;
display: flex;
padding-left: 8rem;
}
.encabezado{
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.ruta {
text-align: center;
font-size: 1.5rem;
padding-bottom: 30px;
color: #0A3D91;
}
.parrafo {
text-align: justify;
padding-left: 6rem;
padding-right: 6rem;
color: #0A3D91;
margin-bottom: 2rem;
font-family: 'Lato', sans-serif;
font-weight: 600;
}
.titulos{
    color: #003366;
    font-family: 'Playfair Display'
}

.producto img{
display: flex;
justify-content: center;
padding-left: 15px;
border-radius: 100px;
width: 150px;
height: 150px;
}
h3 , h4 {
color: #003366;
    text-align: center;
}
#destacados{
text-align: center;
text-size-adjust: 2rem;
padding-top: 40px;
padding-bottom: 60px;
}
.prefooter {
    padding-bottom: 25px;
}
 /* 
font-family: 'Lato', sans-serif; textos largos
font-family: 'Montserrat', sans-serif; encabezados y titulos
font-family: 'Open Sans', sans-serif; botones y navbar
font-family: 'Playfair Display', serif; titulos importantes/ruta
*/

/*
Azul oscuro (#003366) elementos destacados
Azul medianoche (#1A237E) areas imnportantes
Azul cobalto (#0A3D91) 
Azul claro (#4FC3F7)
Gris claro (#F5F5F5)
Blanco (#FFFFFF)
*/
